{% extends 'base.html'%}

{% block content%}

    {% if user.is_authenticated and user.lezervago == True%}
    Hello {{user.username}}!
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Kijelentkezés</button>
      </form>
      <h1>Dolgozó oldal</h1>
      <table>
          <tr>
              <th>id</th>
              <th>Munkalap száma</th>
              <th>Dolgozó</th>
              <th>Alapanyag</th>
              <th>Kezdés dátuma</th>
              <th>Befejezés dátuma</th>
              <th>Polc száma</th>
              <th>Felhasznált mennyiség</th>

              
            </tr>
            {% for adatok in object_list%}
        <tr>
            <td>{{adatok.id}}</td>
            <td>{{adatok.munkalap_szama}}</td>
            <td>{{adatok.dolgozo}}</td>
            <td>{{adatok.alapanyag}}</td>
            <td>{{adatok.datumKezdes}}</td>
            <td>{{adatok.datumBefejezes}}</td>
            <td>{{adatok.vastagsag}}</td>
            <td>{{adatok.felhasznaltMennyiseg}} db</td>
        </tr>
        
        {% endfor %}
    </table>
    
    {%else%}
    <p>Nem vagy bejelentkezeve!</p>
    <a href="{%url 'login'%}">Bejelentkezés</a>
    {%endif%}
{%endblock%}    
