{% extends 'base.html'%}

{% block content%}

    {% if user.is_authenticated and user.raktaros == True%}
    Hello {{user.username}}!
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Kijelentkezés</button>
    </form>

      <h1>Raktár oldal</h1>
      <table>
          <tr>
              
              <th>Anyag tipusa</th>
              <th>Vastagsag</th>
              <th>Meret</th>
              <th>Darabszam</th>
              <th>Polc száma</th>
             
           </tr>

            {% for adatok in object_list %}
        <tr>
            <td>{{adatok.anyagtipusa}}</td>
            <td>{{adatok.vastagsag_valaszt}}</td>
            <td>{{adatok.meret_valaszt}}</td>
            <td>{{adatok.darabszam}}</td>
            <td>{{adatok.polc_szama}}</td>
        </tr>
        
        {% endfor %}
    </table>   
    <form method="POST">
        {% csrf_token%}
        <h2>Bevitel</h2>
        {{ bevform.as_p }}
        <input type="submit" value="Rögzítés"/>
    </form>
    {%else%}
    <p>Nem vagy bejelentkezeve!</p>
    <a href="{%url 'login'%}">Bejelentkezés</a>
    {%endif%}

{%endblock%}    
